
a{
    text-decoration: none;
}

body{
    padding-top: 10px;
    background-image: url("../ressources/background.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}

.btn-home{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    letter-spacing: 20px;
}

.btn-log{
    border-radius: 100px;
    color: #A8A9BC;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 150px;
    height: 50px;
    
}

.btn-log:hover{
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
    color: #2d2e36;
}

.home{
    color: white;
}

.loupe{
    position: absolute;
    color: white;
    top: 20px;
    left: 15px;
    font-weight: 100;
}

#search-container{
    position: relative;
}

.search{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 70px;
    height: 3.5rem;
    width: 50vw;
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    padding-left: 40px;

}

.search::placeholder{

    padding: 5px;
    color: #A8A9BC;
    opacity: 100%;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 2px;
    
}


@media (max-width: 1220px){
    .btn-home{
        font-size: 4rem;
    }
    
    .loupe{
        position: absolute;
        color: white;
        top: 17px;
        left: 15px;
        font-weight: 100;
    }
    
    .search{
        font-size: 1.1rem;
        height: 3rem;
        width: 30vw;
    }
    .search::placeholder{
        font-size: 1.1rem;
        padding: 0;
    }
}

@media (max-width: 850px){

}
