
a{
    text-decoration: none;
}

body{
    padding-top: 10px;
    background-image: url("../ressources/background.png");
}

.btn-home{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 5rem;
    color: white;
    letter-spacing: 20px;
}

.btn-log{
    border-radius: 100px;
    color: #A8A9BC;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 150px;
    height: 50px;
    
}

.btn-log:hover{
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease;
}

.home{
    color: white;
}

.loupe{
    position: absolute;
    color: white;
    top: 20px;
    left: 15px;
    font-weight: 100;
}

#search-container{
    position: relative;
}

.search{
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 70px;
    height: 3.5rem;
    width: 48rem;
    font-weight: 100;
    font-size: 1.3rem;
    color: white;
    padding-left: 40px;

}

.search::placeholder{
    padding: 5px;
    color: #A8A9BC;
    opacity: 100%;
    font-weight: 100;
    font-size: 1.3rem;
    letter-spacing: 2px;
    
}

